@import "tailwindcss";

@theme {
  --color-sand: #B6AE9F;
  --color-sage: #C5C7BC;
  --color-linen: #DEDED1;
  --color-cream: #FBF3D1;

  --color-success: #16A34A;
  --color-success-light: #4ADE80;
  --color-success-dark: #166534;

  --color-warning: #F59E0B;
  --color-warning-light: #FBBF24;
  --color-warning-dark: #92400E;

  --color-error: #DC2626;
  --color-error-light: #F87171;
  --color-error-dark: #7F1D1D;
}
